apiVersion: orchestrator.aiops.ibm.com/v1alpha1
kind: Installation
metadata:
  name: {{ WAIOPS_NAME }}
  namespace: {{ WAIOPS_NAMESPACE }}
spec:
  imagePullSecret: ibm-aiops-pull-secret
  license:
    accept: true
  pakModules:
    - enabled: true
      name: aiManager
    - enabled: true
      name: aiopsFoundation
    - enabled: true
      name: applicationManager
    - enabled: true
      name: connection
  size: {{ WAIOPS_SIZE }}
  storageClass: '{{ WAIOPS_STORAGE_CLASS_FILE }}'
  storageClassLargeBlock: '{{ WAIOPS_STORAGE_CLASS_LARGE_BLOCK }}'

