apiVersion: batch/v1
kind: Job
metadata:
  name: create-humio-license-secret
  namespace: humio-logging
spec:
  template:
    spec:
      containers:
        - name: config
          image: quay.io/openshift/origin-cli:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "64Mi"
              cpu: "150m"
            limits:
              memory: "64Mi"
              cpu: "200m"
          command:
            - /bin/sh
            - -c
            - |

              oc create secret generic humio-license -n humio-logging --from-literal=data={{HUMIO_LICENSE_KEY}}

      restartPolicy: Never
      serviceAccount: humio-operator
  backoffLimit: 4